@font-face {
	font-family: 'Swear Variable';
	src: url('../../fonts/SwearRomanVariable.woff2') format("woff2-variations");
	font-style: normal;
	font-weight: 1 999;
}
@font-face {
	font-family: 'Swear Variable';
	src: url('../../fonts/SwearItalicVariable.woff2') format("woff2-variations");
	font-style: italic;
	font-weight: 1 999;
}
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body, .container {
	height: 100%;
}

body {
	background: #0a0a0a;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Swear Variable', 'Times New Roma', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 590px;
	font-variation-settings: 'wght' 400,'opsz' 700;
}

a {
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #fff;
}

input[type="file"]::-webkit-file-upload-button {
    background: #191919 !important;
    border-radius: 50px !important;
    font-size: 0.6em !important;
    margin: 10px !important;
    padding: 10px 30px !important;
    border: none !important;
    color: #ccc !important;
    font-family: inherit !important;
	cursor: pointer;
}
